@charset "UTF-8";  

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    line-height: 1.3;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color: #000;
}

html {

	/* Prevent font scaling in landscape */

   -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

   -moz-text-size-adjust: none; /*Firefox*/

   -ms-text-size-adjust: none;  /*Ie*/

   -o-text-size-adjust: none; /*old versions of Opera*/

}

.ellipsis {
    /* width값 고정되어야 함 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /* 말줄임 적용 */
}

.ellipsis-box {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    
    /* ★★ 설정이 필요한 영역 ★★ */
    /* ★★ 3줄 이상은 말줄임 처리 ★★ */
    -webkit-line-clamp: 3;
}

/* button reset */
button{
    background: inherit ; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer
}

/* 폰트 깨짐 방지 */
p, a, h1, h2, h3, h4, h5, h6 {
    transform: skew(-0.1deg);
}

/* input 입력폼의 자동완성 백그라운드 제거 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff0 inset;
}

 /* scrollbar 꾸미기 */
.scrollbar::-webkit-scrollbar {
    width: 5px; /*스크롤바의 너비*/
    height: auto;
    cursor: pointer;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(233, 233, 233); /*스크롤바의 색상*/
}

.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0); /*스크롤바 트랙 색상*/
}

select {

    -webkit-appearance:none; /* for chrome */
 
    -moz-appearance:none; /*for firefox*/
 
    appearance:none;
 
    box-sizing: border-box;
 
    background:transparent;

    background:url('../images/select_arrow.png') no-repeat right 10px center;
 
 }
 
 select::-ms-expand{
    display:none;/*for IE10,11*/
 }
input:focus {outline: none;} /* outline 테두리 없애기 */

input:focus {outline: none;} /* outline 테두리 없애기 */
button:focus{outline: none;}
textarea:focus{outline: none;}
input, textarea, button{
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 파이어폭스에서의 초기화 방법 */
input[type=number] {
    -moz-appearance: textfield;
}

*{-webkit-tap-highlight-color : transparent;}